@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Handlee');

html,
body {
    @apply m-0 p-0;
}

@layer components {
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }

    .center-of-page {
        @apply fixed left-[50%] top-[50%] -translate-x-1/2 -translate-y-1/2 transform
    }

    .editor__content mark {
        background-color: rgba(224, 246, 255, 0.7 );
    }

    .editor__content .collaboration-cursor__caret {
        border-left: 1px solid #0d0d0d;
        border-right: 1px solid #0d0d0d;
        margin-left: -1px;
        margin-right: -1px;
        pointer-events: none;
        position: relative;
        word-break: normal;
    }

    .editor__content .tiptap.ProseMirror:focus {
        outline: none;
    }

    /* Render the username above the caret */
    .editor__content .collaboration-cursor__label {
        border-radius: 3px 3px 3px 0;
        color: #0d0d0d;
        font-size: 12px;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        left: -1px;
        line-height: normal;
        padding: 0.1rem 0.3rem;
        position: absolute;
        top: -1.4em;
        user-select: none;
        white-space: nowrap;
    }

    .bg-pogo {
        background-image: url('../public/pogo.jpg');
        background-size: cover;
        background-position: bottom;
    }

    .bg-notepad {
        background-image: url('../public/brown_notepad.jpg');
        background-size: cover;
        background-position: center;
    }

    .react-calendar {
        @apply h-full w-full;
    }

    /* The entire first row, with the buttons and month selector */
    .react-calendar .react-calendar__navigation {
        @apply h-[15%] w-full bg-green-300 flex justify-center text-center items-center;
    }

    /* The month selector part */
    .react-calendar .react-calendar__navigation__label {
        @apply h-full w-[40%];
    }

    .react-calendar .react-calendar__navigation__prev-button {
        @apply h-full w-[30%];
    }
    .react-calendar .react-calendar__navigation__next-button {
        @apply h-full w-[30%];
    }

    .react-calendar .react-calendar__navigation__prev2-button,
    .react-calendar .react-calendar__navigation__next2-button {
        @apply hidden;
    }

    /* The container for the week day categories and the actual days of the month */
    .react-calendar .react-calendar__viewContainer {
        @apply h-[85%] w-full;
    }

    /* The sub container for the week day categories and the actual days of the month */
    .react-calendar .react-calendar__month-view {
        @apply h-full w-full overflow-auto;
    }

    .react-calendar .react-calendar__month-view * {
        @apply h-full w-full;
    }

    /* The container for the week day categories in the calendar: Mon, Tues... etc */
    .react-calendar .react-calendar__month-view__weekdays {
        @apply h-[10%] w-full;
    }

    /* The actual week day categories in the calendar: Mon, Tues... etc */
    .react-calendar .react-calendar__month-view__weekdays__weekday,
    .react-calendar .react-calendar__month-view__weekdays--weekend {
        @apply flex h-full w-[14.2857143%] justify-center text-center;
    }

    .react-calendar .react-calendar__month-view__weekdays__weekday abbr[aria-label],
    .react-calendar .react-calendar__month-view__weekdays--weekend abbr[aria-label] {
        @apply text-[1rem] no-underline;
    }

    /* The grid for the actual days in the calendar */
    .react-calendar .react-calendar__month-view__days {
        @apply h-[18%] w-full;
    }

    /* The actual days in the calendar */
    .react-calendar .react-calendar__month-view__days__day {
        @apply flex flex-col items-center justify-start border-2 border-black text-center text-[0.5rem];
    }

    .react-calendar .react-calendar__month-view__days__day abbr[aria-label] {
        @apply flex h-[60%] min-h-[60%] w-full items-center justify-center bg-green-500 text-center text-[1rem];
    }

    .react-calendar .react-calendar__month-view__days__day--neighboringMonth {
        @apply opacity-70;
    }

    .react-calendar .react-calendar__tile--now {
        @apply bg-white;
    }
}
